/* Container principal */
.divum {
   text-align: center;
   background-color: white;
   padding: 20px;
   margin: 0 auto;
   width: 50%;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  /* Título principal */
  .h1 {
   font-family: 'Pacifico', cursive;
   font-size: 36px;
   color: #333;
   margin-bottom: 20px;
  }
  /* Estiliza as mensagens de erro e confirmação */
  .confirmation-message {
   color: green;
   font-size: 16px;
   margin-bottom: 15px;
  }
  .error {
   color: red;
   font-size: 14px;
   margin-top: 5px;
  }
  /* Estilo dos grupos de formulário */
 
  .labelCadastro {
   font-size: 16px;
   font-weight: bold;
  
   
  }
  /* Estilo dos inputs */
  input, .ReactInputMask, select.genero {
   width: 90%; /* Ajuste a largura para evitar que o input saia da tela ao mover */
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
   font-size: 16px;
   box-sizing: border-box;
   text-align: center; /* Move os inputs e selects ligeiramente para a direita */
  }
  /* Estilo específico para o campo de seleção */
  .Cadastrogenero {
   width: 300px;
   padding: 10px;
   border-radius: 5px;
   height: 40px;
   text-align: center;
  }
  /* Estilo do botão */
  .buttonCriarConta {
   padding: 5px 10px; /* Diminui o espaçamento interno do botão */
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 14px; /* Diminui o tamanho da fonte */
   cursor: pointer;
   text-transform: uppercase;
   transition: background-color 0.3s ease, transform 0.2s ease;
   display: inline-block; /* Permite que o botão tenha largura baseada no conteúdo */
   margin: 20px auto; /* Margem automática para centralizar o botão */
}
   
/* Overlay do Modal */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
} 
/* Overlay do Modal */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0,)
} 

  button:hover {
   background-color: #0056b3;
   transform: scale(1.05);
  }
  button:active {
   background-color: #004494;
   transform: scale(0.95);
  }
  button:focus {
   outline: none;
   box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }
  
  /* Estilo do rodapé */
  .Rodape {
   margin-top: 20px;
   text-align: center;
   width: 100%;
  }
.tudo {
   text-align: center;
}
.DivCadastro {
   margin-bottom: 3%;
}
