.app-container {
    text-align: center;
    background:  white;
    float: left;
    width: 20%;
    height:900px ;
    margin-left: 10%;
    overflow: hidden;
    border-radius: 10%;

}
.form-group{
    margin-left: 0;
    margin-top: 7%;
    margin-bottom: 10%;
   
   
   
}
.divum{
    text-align: center;
    background: linear-gradient(to top, #00A3FF, white);
    float: left;
    width: 50%;
    height:1000px ;

}

input{
    
    width: 300px;
    padding: 7px;
    
}
button {
    padding: 0.75em 1.5em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0%;
    
  }
  
  button:hover {
    background-color: #587ca3;
  }
.label{
    margin-right: 60%;
}
.imagem{
    margin-left: 15%
}
.error {
    color: red
}
.confirmation-message {
    color : green
}
.genero {
    height: 32px;
    width: 315px;
}