.cadastrop {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   background: linear-gradient(to top, #00A3FF, white);
  }
.select {
    padding: 8px;
    width: 100%;

}
  .cadastrop > div {
   width: 45%;
  }
  .form-group {
   margin-bottom: 15px;
  }
  .label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
  }
  input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
  }
  button {
   padding: 10px 20px;
   margin-top: 10px;
   cursor: pointer;
  }
  .pets-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
  }
  .pets-table th, .pets-table td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
  }
  .pets-table th {
   background-color: #f2f2f2;
   font-weight: bold;
  }
  .pets-table tr:nth-child(even) {
   background-color: #f9f9f9;
  }
  .pets-table tr:hover {
   background-color: #ddd;
  }
.TextoCentral{
   margin-left: 40%;

}